In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [5]:
spark

In [6]:
#Read the dataset

In [10]:
spark.read.option('header','true').csv('test1.csv').show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|   Manish| 27|        10|
|    Rossy| 26|         3|
|   Prapti| 26|         3|
|Sanskriti| 22|         5|
+---------+---+----------+

In [13]:
df_pyspark = spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [14]:
#Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [15]:
#2nd way of reading a csv file
df_pyspark =spark.read.csv('test1.csv',header= True,inferSchema=True)
df_pyspark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|   Manish| 27|        10|
|    Rossy| 26|         3|
|   Prapti| 26|         3|
|Sanskriti| 22|         5|
+---------+---+----------+

In [16]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [19]:
#Selecting Column
df_pyspark.columns

['Name', 'Age', 'Experience']

In [20]:
df_pyspark.head(2)

[Row(Name='Manish', Age=27, Experience=10),
 Row(Name='Rossy', Age=26, Experience=3)]

In [22]:
#Select a specific columns
df_pyspark.select('Name').show()

+---------+
|     Name|
+---------+
|   Manish|
|    Rossy|
|   Prapti|
|Sanskriti|
+---------+

In [23]:
df_pyspark.select(['Name','Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|   Manish|        10|
|    Rossy|         3|
|   Prapti|         3|
|Sanskriti|         5|
+---------+----------+

In [24]:
#Check the datatype
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [25]:
#Describe
df_pyspark.describe().show()

+-------+---------+------------------+-----------------+
|summary|     Name|               Age|       Experience|
+-------+---------+------------------+-----------------+
|  count|        4|                 4|                4|
|   mean|     null|             25.25|             5.25|
| stddev|     null|2.2173557826083443|3.304037933599835|
|    min|   Manish|                22|                3|
|    max|Sanskriti|                27|               10|
+-------+---------+------------------+-----------------+

In [28]:
#adding Columns in dataframe
df_pyspark =df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience']+2)

In [29]:
df_pyspark.show()

+---------+---+----------+------------------------+
|     Name|Age|Experience|Experience After 2 years|
+---------+---+----------+------------------------+
|   Manish| 27|        10|                      12|
|    Rossy| 26|         3|                       5|
|   Prapti| 26|         3|                       5|
|Sanskriti| 22|         5|                       7|
+---------+---+----------+------------------------+

In [30]:
#Drop the columns
df_pyspark = df_pyspark.drop('Experience After 2 years')

In [31]:
df_pyspark.show()

+---------+---+----------+
|     Name|Age|Experience|
+---------+---+----------+
|   Manish| 27|        10|
|    Rossy| 26|         3|
|   Prapti| 26|         3|
|Sanskriti| 22|         5|
+---------+---+----------+

In [32]:
#Renaming the column
df_pyspark.withColumnRenamed('Name','New Name').show()

+---------+---+----------+
| New Name|Age|Experience|
+---------+---+----------+
|   Manish| 27|        10|
|    Rossy| 26|         3|
|   Prapti| 26|         3|
|Sanskriti| 22|         5|
+---------+---+----------+